.button_cheap {
    width: 243px;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    color: #4E148C;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #4E148C;
    background-color: #E8EBF2;
}

.button_fast {
    width: 242px;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    color: #4E148C;
    border-radius: 0px;
    border: 1px solid #4E148C;
    background-color: #E8EBF2;
}

.button_optimal {
    width: 242px;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    color: #4E148C;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #4E148C;
    background-color: #E8EBF2;
}