.block_main {
    display: flex;
    margin-top: 20.55px;
    margin-left: 276px;
    width: 1049px;
    height: 700px;
    border-radius: 10px;
    border: 1px solid;
}

.block_filters {
    width: 272px;
    height: 503px;
}

.block_info {
    margin-left: 50px;
    width: 727px;
    height: 700px;
    border-radius: 10px;
}

.block_info__navigation {
    width: 727px;
    height: 55px;
}

.block_info__tickets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 29px;
    width: 727px;
    height: 616px;
    border-radius: 10px;
    border: 1px solid;
}