.BlockFilterCompanies {
    margin-top: 47px;
    width: 272px;
    height: 198px;
    border-radius: 10px;
    background-color: #E8EBF2;
}

.titleFilter {
    padding: 12px 0px 0px 19px;
    font-weight: 700;
    font-size: 20px;
    color: #4E148C;
}