.button {
    width: 242px;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    color: #4E148C;
    border: 1px solid #4E148C;
    background-color: #E8EBF2;
}

.optimal {
    border-radius: 0px 10px 10px 0px;
}

.fast {
    border-radius: 0px;
} 

.cheap {
    border-radius: 10px 0px 0px 10px;
}

.active {
    color: red;
}
/* .button_pressed {

} */